<footer class="footer">
  <div class="footer-container">

    <!-- CỘT 1 -->
    <div class="footer-col footer-left">
      <img src="../images/logo-cay-xanh-dai.jpg" alt="Cây Xanh Văn Toán" class="footer-logo">

      <div class="footer-info">
        <p>📞 0984 675 414</p>
        <p>📍 TX25, 136/3 KP6, Thới An, Q12, HCM</p>
      </div>
    </div>

    <!-- CỘT 2 -->
    <div class="footer-col">
      <h3>LIÊN KẾT NHANH</h3>
      <ul>
        <li><a href="#">Trang Chủ</a></li>
        <li><a href="#">Giới Thiệu</a></li>
        <li><a href="/lien-he/">Liên Hệ</a></li>
      </ul>
    </div>

    <!-- CỘT 3 -->
    <div class="footer-col">
      <h3>CHÚNG TÔI CUNG CẤP</h3>
      <ul>
        <li><a href="/dich-vu-cua-cay-chat-cay/">Dịch Vụ Cưa Cây, Chặt Cây</a></li>
    <li><a href="/dich-vu-cat-tia-cay/">Dịch Vụ Cắt Tỉa Cây</a></li>
    <li><a href="/dich-vu-di-doi-cay-xanh/">Dịch Vụ Di Dời Cây Xanh</a></li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 CÂY XANH VĂN TOÁN. All rights reserved.
  </div>
</footer>