<!DOCTYPE html>
<html lang="vi">

<header class="header">
  <div class="container nav">
    <div class="logo">
  <a href="/" class="logo-link">
    <img src="images/logo__500_x_500_px__cay_xanh-removebg-preview.png" 
         alt="Cây Xanh Văn Toán">
    <span>CÂY XANH VĂN TOÁN</span>
  </a>
</div>

    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav id="navbar">
      <ul>
        <li><a href="/dich-vu-cua-cay-chat-cay/" class="nav-link">Dịch Vụ Cưa Cây, Chặt Cây</a></li>
        <li><a href="/dich-vu-cat-tia-cay/" class="nav-link">Dịch Vụ Cắt Tỉa Cây</a></li>
        <li><a href="/dich-vu-di-doi-cay-xanh/" class="nav-link">Dịch Vụ Di Dời Cây Xanh</a></li>
        <li><a href="/lien-he/" class="nav-link">Liên Hệ</a></li>
      </ul>
    </nav>
  </div>
</header>

</html>